@import "tailwindcss";

@theme {
  --font-display: "Epilogue", sans-serif;

  --color-primary: #2beecd;
  --color-primary-hover: #25d6b8;

  /* Backgrounds */
  --color-background: #f9fafa;
  --color-surface: #ffffff;

  /* Text */
  --color-text-main: #0f172a; /* slate-900 */
  --color-text-muted: #475569; /* slate-600 */
}

/* Global Reset - Enforcing Light Mode */
:root {
  color-scheme: light;
  background-color: var(--color-background);
  color: var(--color-text-main);
}

body {
  @apply antialiased min-h-screen flex flex-col font-display;
}

.hero-gradient {
  background: linear-gradient(
    180deg,
    rgba(249, 250, 250, 0) 0%,
    rgba(249, 250, 250, 0.4) 50%,
    rgba(249, 250, 250, 1) 90%
  );
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* For IE and Edge */
    scrollbar-width: none; /* For Firefox */
  }
}
