@import "tailwindcss";

@theme {
  --font-display: "Epilogue", sans-serif;

  --color-primary: #2beecd;
  --color-primary-hover: #25d6b8;
  
  /* Backgrounds */
  --color-background: #f9fafa;
  --color-surface: #ffffff;
  --color-surface-hover: #f8fafc;

  /* Text */
  --color-text-main: #0f172a; /* slate-900 */
  --color-text-muted: #475569; /* slate-600 */

  /* Border */
  --color-border: #f1f5f9; /* slate-100 */
}

/* Global Reset */
:root {
  color-scheme: light;
  background-color: var(--color-background);
  color: var(--color-text-main);
}

/* Dark Theme Overrides */
html.dark {
  color-scheme: dark;
  --color-primary: #9BDF57;
  --color-primary-hover: #7FC341;
  --color-background: #171413;
  --color-surface: #1c1918;
  --color-surface-hover: #242120;
  --color-text-main: #E1DDDB;
  --color-text-muted: #94a3b8;
  --color-border: #242120;
}

body {
  @apply antialiased min-h-screen flex flex-col font-display;
}

.hero-gradient {
  background: linear-gradient(
    180deg,
    rgba(249, 250, 250, 0) 0%,
    rgba(249, 250, 250, 0.4) 50%,
    rgba(249, 250, 250, 1) 90%
  );
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* For IE and Edge */
    scrollbar-width: none; /* For Firefox */
  }
}
